body{
	font-family: 'Galindo';
	color: #414f78;
	background-image: url("img/cute.jpeg");
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

table, th, tr, td{
	border: 1px solid #c1b695;
}

.remove{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 7px;
	font-family: 'Galindo';
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #7fa9ff;
	border: none;
	border-radius: 10px;
	box-shadow: 0 5px #606f9c;
}

.remove:hover{
	background-color: #5873c7
}

.remove:active{
	background-color: #5873c7;
	box-shadow: 0 5px #606f9c;
	transform: translateY(2px);
}

.add{
	display: inline-block;
	padding: 15px 25px;
	margin-left: 7px;
	font-family: 'Galindo';
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #7fa9ff;
	border: none;
	border-radius: 10px;
	box-shadow: 0 5px #606f9c;
	
}

.add:hover{
	background-color: #5873c7
}

.add:active{
	background-color: #5873c7;
	box-shadow: 0 5px #606f9c;
	transform: translateY(4px);
}

.button{
	display: inline-block;
	padding: 15px 25px;
	font-family: 'Galindo';
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #7fa9ff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #606f9c;
}

.button:hover{
	background-color: #5873c7
}

.button:active{
	background-color: #5873c7;
	box-shadow: 0 5px #606f9c;
	transform: translateY(4px);
}
.main{
    display: flex;
	position: absolute;
}

.flex-child1{
    flex: 1;
	display:block;
}  

.flex-child2{
    flex: 1;
	display:block;
}  

.flex-child:first-child{
    margin-right: 20px;
} 

#logo{
	margin-left: 240px;
	margin-top: 100px;
}

#sectionA{
	background: rgba(211, 237, 236, 0.95);
	border-radius: 15px;
	position: static;
	margin-top: 10px;
	margin-left: 250px;
	margin-right: 20px;
	width: 210px;
	height: 140px;
	padding: 40px;
	display:block;
}

#sectionB{
	background: rgba(211, 237, 236, 0.95);
	border-radius: 15px;
	position: static;
	margin-right: 250px;
	margin-top: 20px;
	width: 700px;
	height: 550px;
	padding: 10px;
	display:block;
	overflow: auto;
	
}

#sectionC{
	background: rgba(211, 237, 236, 0.95);
	border-radius: 15px;
	position: static;
	margin-right: 250px;
	margin-top: 20px;
	padding: 20px;
	width: 680px;
}

#cform{
	margin: auto;
	width: 550px;
}

